<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap">
  <a href="/" class="navbar-brand col-md-3 mr-0">
    <strong>Peer Evaluation Tool</strong>
  </a>
  <% if logged_in? %>
    <div class="dropdown m-3">
      <button type="" class="dropdown-toggle btn btn-success" data-toggle="dropdown">
        Welcome, <%= current_user.name.blank? ? current_user.email : current_user.name %>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'ChangePassword', change_password_path, class: "dropdown-item" %>
        <%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <a href="/login" class="btn btn-primary">Sign In</a>
  <% end %>
</nav>
    